
:root{
    --primary-color: #7DA2A9;
    --tertiary-color: rgba(200, 216, 228, .85);
    --secondary-color: rgb(200, 216, 228);
    /*--primary-color: rgba(200, 216, 228, .85)
    --primary-color: rgba(0, 214, 170, .85)
    142,228,164,0.85 */
}

html{
    scroll-behavior: smooth;
    width: 100%;
}


body{
    margin: 0px;
    padding: 0;
    height: 100%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.main_heading{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0%;
}

.sub_heading{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0%;
}

.page-content{
    height: 100%;
    background-size: cover;
    display: grid;
    place-items: center;
    align-items: center;
    /*padding: 10%;*/
    /*
    display: flex;
    flex-direction: column;
    */
}

h2{
    font-weight: bold;
}

/* NAV BAR STYLES*/
header{
    /*background: var(--primary-color);*/
    text-align: center;
    position: relative;
    width: 100%; 
    z-index: 999;
    
    /*border-bottom: 2px solid red;*/
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    width: 2em;
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}



nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--primary-color);
    background-color: white;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out; 
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 250ms ease-in-out; 
}
/* 
    Links have the following properties: 
   scale translate rotate opacity 
*/



nav a:hover
{
    color: var(--primary-color);
}

/* Note: ~ looks for nav that is a preceeding  sibling of nav toggle*/
.nav-toggle:checked ~ nav{
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    
    transition: opacity 250ms ease-in-out 250ms; /* The last time frame is a delay: it esentially means wait 250ms before doing the transition */
}


/* Footer Styles */
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials{
    list-style: none;
    display: flex;
    justify-content: center;
}

.socials li{
    display: inline-block;
    text-align: center;
    margin: 0 25px;
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #222;
    line-height: 50px;
    transition: all 300ms ease;
    color: hsl(0, 0%, 14%);
}


.socials li:hover{
    cursor: pointer;
	opacity: 0.7;
	transform: scale(1.25);
}

.socials .socials_name{
	transition: all 300ms 100ms ease-in-out;
	font-size: 1.2rem;
	opacity: 0;
    margin-top: 0%;
    transform: translateY(-10px);
}


.socials_link:hover span {
	transform: scale(1) translateY(0);
	opacity: 1;
}

/* Tech section */

#languages{
    background-color: white;
    border: 1.5px solid var(--tertiary-color);
    box-shadow: 0px 3px #e4dede;
    margin-top: -100px;
    border-radius: 8px;
    margin-left: 7%;
    margin-right: 7%;
}

h1{
    text-align: center;
}

.techStack{
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
    align-items: center;
}

.tech {
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.container{
    display: flex;
    /*max-width: 1200px;*/
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 130px;
    object-fit: cover;
    object-position: bottom;
    transition: all 300ms;
}

.tech:hover img {
	filter: brightness(90%);
	opacity: 0.86;
	transform: scale(0.85) translateY(-10px);
}

.tech_name {	
	opacity: 0;
    transform: translateY(-10px);
    transition: all 600ms;
}

.tech:hover .tech_name {
	opacity: 1;
    transform: translateY(1px);
}

/* main secion*/
#main .me{
    width: 200px;
	height: 200px;
	border-radius: 50%;
    box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.7);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main .icon{
    margin-top: -4%;
    /*width: 650px;*/
    width: 100%;

}

/* ABOUT SECTION*/

.about_text{
    margin-top: 10%;
    background-color: var(--primary-color);
}

#about{
    width: 100%;
    background-color: var(--tertiary-color);
    text-align: center;
}

#about .flex{
    padding: 3%;
}

#about h2{
    margin-bottom: 10px;
}

#about p{
    padding: 0% 3% 0% 3%;
    margin-top: 0;
    margin-bottom: 100px;
}

.about-content{
    padding: 30px 50px 30px 50px;
}

@media screen and (min-width: 800px){
    .nav-toggle-label{
        display: none;
    }

    header {
        display: grid;
        /* set 4 columns */
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        /* all: unset remove all previous settings */
        all: unset;
        grid-column:  3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
    }

    nav a{
        opacity: 1;
        position: relative;
        color: black;
    }

    nav a::before{
        content: '';
        display: block;
        height: 5px;
        background: var(--primary-color);
        position: absolute;
        bottom: -0.75em;
        left:0;
        right:0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }

    .about-content{
        padding: 60px 200px 60px 200px;
    }
}



/* CONTACT FORM */
#contact{
    background-color: var(--tertiary-color);
    width: 100%;
}

#contact {
    margin-top: 70px;
}

#contact h2, h1{
    margin-bottom: 0;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 30px;
}

form input{
    margin: 6px;
    height: 30px;
    width: 200px;
    margin-top: 12px;
    border-style: none;
    text-align: center;
}

#emailId{
    width: 420px;
}

form textarea{
    width: 420px;
    margin: 6px;
    margin-top: 12px;
    border-style: none;
    text-align: center;
}

button{
    width: 120px;
	height: 30px;
	font-size: 20px;
	margin: 3px;
    margin-top: 15px;
	background-color: white;
	border: none;
	border-radius: 20px;
	transition: all 300ms ease;
}

form{
    align-items: flex-end;
}

.flex-hor{
    display: flex;
}

button:hover{
    cursor: pointer;
    transform: scale(1.07);
}

#message{
    width: 420px;
    height: 150px;
}

/* PROJECT SECTION*/

.project-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project{
    width: 90%;
    max-width: 1000px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img{
    width: 50%;
    height: 350px; 
    z-index: -1;
}

.project-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

.right{
    width: 50%;
    min-height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
    border-radius: 8px;
    margin-left: -100px;
}

.left{
    width: 50%;
    min-height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
    border-radius: 8px;
    margin-right: -100px;
    
}

.project-links{
    display: flex;
    justify-content: flex-end;
}

.project-links a{
    margin-top: 0;
    padding: 5px;
}

.tech-used{
    font-weight: bold;
    margin-bottom: 0;
}

.proj-description{
    font-size: small;
}

#projects h2{
    margin-bottom: 0;
}

#projects h1{
    margin-top: 100px;
}

#projects p{
    margin-top: 0;
}

@media only screen and (max-width: 800px){
    .project{
        flex-direction: column;
        margin:0;
    }

    .project-img{
        width: 90%;
        display: none;
    }

    .project-info{
        width: 80%;
        margin: 5px;
        background-image: url(./images/weatherApp.png) cover;
    }

}